name: Minecraft.jp status

# https://help.github.com/en/github/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule
on:
  schedule:
    - cron:  '*/5 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Run a one-line script
      run: |
        date
        echo "Status: "$(wget --server-response --spider -S "https://minecraft.jp" 2>&1 | awk '/^  HTTP/{print $2}')
