name: Seichi Server Idea conference notification

on:
  schedule: 
    # JST: 19:30
    - cron: "30 11 * * *"
      
  workflow_dispatch:
jobs:
  send:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # https://github.com/rubygems/rubygems/issues/3068#issuecomment-574775885
      - name: Update gem
        run: sudo gem update -N --system 3.0.6
      - name: Check ruby version
        run: ruby -v

      # Runs a set of commands using the runners shell
      - name: "Ruby: checkdate" 
        run: |
          ruby -e 'require "date"
          if ENV["OVERRIDE"] then
            X_DAY = Date.iso8601(ENV["OVERRIDE"]).day
          else
            TODAY = Date.today
            YEAR = TODAY.year
            MONTH = TODAY.month
            DAY = TODAY.day
            FIRST = Date.new(YEAR, MONTH, 1)
            FIRST_WEEKDAY = FIRST.wday
            FIRST_SUNDAY = 1 + (7 - FIRST_WEEKDAY) % 7
            X_DAY = FIRST_SUNDAY
          end
          
          if !ENV["DEBUG"] && DAY != X_DAY then
            puts %q(今日はアイデア会議の日ではありません)
            exit 1
          end'
        env:
          OVERRIDE: 2021-06-13
      - uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/IDEA_TEMPLATE.md
